<h2>Por región</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- Buttons -->
    <button
      (click)="searchByRegion(region)"
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="selectedRegion === region ? 'btn-primary' : 'btn-outline-primary'"
      >{{region}}</button>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
